# Build outputs
*.o
*.d
*.elf
*.hex
*.bin
*.axf
*.out
*.map
*.lst

# PlatformIO build
.pio/

# Keil MDK dependencies (downloadable)
MDK-ARM/.pack/
MDK-ARM/.cmsis/
MDK-ARM/.eide/
MDK-ARM/.clang-format
MDK-ARM/RTE_Components.h
MDK-ARM/startup_stm32f103xb.s
MDK-ARM/build/

# IDE
*.uvguix.*
*.uvoptx
*.scvd
JLinkLog.txt
JLinkSettings.ini

# Debug
*.crf
*.dni

# OS
Thumbs.db
Desktop.ini
